<template>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-header">
                            <h3 class="box-title">Responsive Hover Table</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="Search">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-header">
                            <div class="box-tools ">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                        data-target="#myModal">
                                    Add user
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form @submit.prevent="createUser" @keydown="form.onKeydown($event)">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input v-model="form.name" type="text" name="name"
                                                               class="form-control"
                                                               :class="{ 'is-invalid': form.errors.has('name') }">
                                                        <has-error :form="form" field="name"></has-error>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>email</label>
                                                        <input v-model="form.email" type="text" name="email"
                                                               class="form-control"
                                                               :class="{ 'is-invalid': form.errors.has('email') }">
                                                        <has-error :form="form" field="email"></has-error>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>type</label>
                                                        <select v-model="form.type" type="text" name="type"
                                                                class="form-control"
                                                                :class="{ 'is-invalid': form.errors.has('type') }">
                                                            <option value="">select</option>
                                                            <option value="user">user</option>
                                                            <option value="admin">admin</option>
                                                        </select>
                                                        <has-error :form="form" field="type"></has-error>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>bio</label>
                                                        <input v-model="form.bio" type="text" name="bio"
                                                               class="form-control"
                                                               :class="{ 'is-invalid': form.errors.has('bio') }">
                                                        <has-error :form="form" field="bio"></has-error>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>photo</label>
                                                        <input type="text"  v-model="form.photo"
                                                               name="photo"
                                                               class="form-control"
                                                               :class="{ 'is-invalid': form.errors.has('photo') }">
                                                        <has-error :form="form" field="photo"></has-error>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>password</label>
                                                        <input v-model="form.password" type="text" name="password"
                                                               class="form-control"
                                                               :class="{ 'is-invalid': form.errors.has('password') }">
                                                        <has-error :form="form" field="password"></has-error>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            close
                                                        </button>
                                                        <button :disabled="form.busy" type="submit"
                                                                class="btn btn-primary">Create
                                                        </button>
                                                    </div>

                                                </form>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Reason</th>
                                </tr>
                                <tr v-for="user in users" :key="user.id" >
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.type}}</td>
                                    <td><span class="label label-success">Approved</span></td>
                                    <td>
                                        <a @click="editUser(user.id)" href="#">Edit</a>
                                        <a href="">Delete</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- /.box-header -->

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                users:{},
                form: new FormElementData({
                    'name': '',
                    'email': '',
                    'type': '',
                    'bio': '',
                    'photo': '',
                    'password': ''
                })
            }
        },
        methods: {
            loadUsers() {
                axios.get("api/user").then(({data}) => (
                    this.users = data
                ))
            },

            createUser(event) {
                // Submit the form via a POST request
                this.form.post('/api/create')
                    .then(({data}) => {
                       if(data.error == false){
                           $('#myModal').modal('hide');
                           event.target.reset();
                       }
                    })
            },
            editUser(id){
                axios.get("api/edit/user",id).then(({data}) => (
                    this.users = data
                ))
            }

        },
        created() {
            this.loadUsers()
        }
    }
</script>
